.contenedorTitulos{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.contenedorServicios{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 30px;
    margin: 0 auto;
    width: 80%;

    /* margin-left: 0px; */

    background-color: #F8BBD0;
}

.serv{
    padding: 30px;
    text-align: center;

    h3{
        text-align: center;
        text-transform: uppercase;
    }
    p{
        font-size: 15px;
    
    }
    img{
        width: 90%;
        border-radius: 20px;
    }
}


@media(max-width:768px){
    .contenedorServicios{
        grid-template-columns: auto;
        text-align: center;
    }

    .principalPagSec h1{
        font-size: 50px;
    }

}

@media (max-width: 474px){

    .principalPagSec h1{
        font-size: 35px;
    }
    
}